@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-dLy3Zqh-v: var(--token-gD57CKQ6o);
  --plasmic-token-unnamed-style-token: var(--token-dLy3Zqh-v);
  --token-TI7x1HUiI: #1a2734;
  --plasmic-token-unnamed-style-token-2: var(--token-TI7x1HUiI);
  --token-gD57CKQ6o: var(--token-ofhLnsfjd);
  --plasmic-token-unnamed-style-token-3: var(--token-gD57CKQ6o);
  --token-ofhLnsfjd: #0c1f32;
  --plasmic-token-unnamed-style-token-4: var(--token-ofhLnsfjd);
  --token-0jy27N48p: 90%;
  --plasmic-token-unnamed-style-token-5: var(--token-0jy27N48p);
  --token-U8RHd0jk_: #ffffffa1;
  --plasmic-token-unnamed-style-token-6: var(--token-U8RHd0jk_);
  --token-iFh7d9byN: #5b6d7f;
  --plasmic-token-unnamed-style-token-7: var(--token-iFh7d9byN);
  --token-FxZF3vz17: #f43838d9;
  --plasmic-token-unnamed-style-token-8: var(--token-FxZF3vz17);
}

.plasmic_default_styles {
  --mixin-G_WPhTBaBMfH_font-family: "Inter", sans-serif;
  --mixin-G_WPhTBaBMfH_font-size: 16px;
  --mixin-G_WPhTBaBMfH_font-weight: 400;
  --mixin-G_WPhTBaBMfH_font-style: normal;
  --mixin-G_WPhTBaBMfH_color: #535353;
  --mixin-G_WPhTBaBMfH_text-align: left;
  --mixin-G_WPhTBaBMfH_text-transform: none;
  --mixin-G_WPhTBaBMfH_line-height: 1.5;
  --mixin-G_WPhTBaBMfH_letter-spacing: normal;
  --mixin-G_WPhTBaBMfH_white-space: pre-wrap;
  --mixin-G_WPhTBaBMfH_user-select: text;
  --mixin-G_WPhTBaBMfH_text-decoration-line: none;
  --mixin-G_WPhTBaBMfH_text-overflow: clip;
  --mixin-TSgzaoJ89_0B_color: #000000;
  --mixin-TSgzaoJ89_0B_font-weight: 900;
  --mixin-TSgzaoJ89_0B_font-size: 72px;
  --mixin-TSgzaoJ89_0B_line-height: 1;
  --mixin-TSgzaoJ89_0B_letter-spacing: -4px;
  --mixin-TSgzaoJ89_0B_white-space: pre-wrap;
  --mixin-IBkMiSu1UHKw_color: #000000;
  --mixin-IBkMiSu1UHKw_font-size: 48px;
  --mixin-IBkMiSu1UHKw_font-weight: 700;
  --mixin-IBkMiSu1UHKw_letter-spacing: -1px;
  --mixin-IBkMiSu1UHKw_line-height: 1.1;
  --mixin-IBkMiSu1UHKw_white-space: pre-wrap;
  --mixin-xRjOzkbOUquR_color: #0070f3;
  --mixin-xRjOzkbOUquR_white-space: pre-wrap;
  --mixin-Gw-zk78D7Vv__color: #000000;
  --mixin-Gw-zk78D7Vv__font-size: 32px;
  --mixin-Gw-zk78D7Vv__font-weight: 600;
  --mixin-Gw-zk78D7Vv__letter-spacing: -0.8px;
  --mixin-Gw-zk78D7Vv__line-height: 1.2;
  --mixin-Gw-zk78D7Vv__white-space: pre-wrap;
  --mixin-iq5D-jZKC94p_color: #000000;
  --mixin-iq5D-jZKC94p_font-size: 24px;
  --mixin-iq5D-jZKC94p_font-weight: 600;
  --mixin-iq5D-jZKC94p_letter-spacing: -0.5px;
  --mixin-iq5D-jZKC94p_line-height: 1.3;
  --mixin-iq5D-jZKC94p_white-space: pre-wrap;
  --mixin-rlEM13xAG9A3_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-rlEM13xAG9A3_border-bottom-color: #dddddd;
  --mixin-rlEM13xAG9A3_border-bottom-style: solid;
  --mixin-rlEM13xAG9A3_border-bottom-width: 1px;
  --mixin-rlEM13xAG9A3_border-left-color: #dddddd;
  --mixin-rlEM13xAG9A3_border-left-style: solid;
  --mixin-rlEM13xAG9A3_border-left-width: 1px;
  --mixin-rlEM13xAG9A3_border-right-color: #dddddd;
  --mixin-rlEM13xAG9A3_border-right-style: solid;
  --mixin-rlEM13xAG9A3_border-right-width: 1px;
  --mixin-rlEM13xAG9A3_border-top-color: #dddddd;
  --mixin-rlEM13xAG9A3_border-top-style: solid;
  --mixin-rlEM13xAG9A3_border-top-width: 1px;
  --mixin-rlEM13xAG9A3_border-bottom-left-radius: 3px;
  --mixin-rlEM13xAG9A3_border-bottom-right-radius: 3px;
  --mixin-rlEM13xAG9A3_border-top-left-radius: 3px;
  --mixin-rlEM13xAG9A3_border-top-right-radius: 3px;
  --mixin-rlEM13xAG9A3_font-family: "Inconsolata";
  --mixin-rlEM13xAG9A3_padding-bottom: 1px;
  --mixin-rlEM13xAG9A3_padding-left: 4px;
  --mixin-rlEM13xAG9A3_padding-right: 4px;
  --mixin-rlEM13xAG9A3_padding-top: 1px;
  --mixin-rlEM13xAG9A3_white-space: pre-wrap;
  --mixin-sSVPigYHGZDd_border-left-color: #dddddd;
  --mixin-sSVPigYHGZDd_border-left-style: solid;
  --mixin-sSVPigYHGZDd_border-left-width: 3px;
  --mixin-sSVPigYHGZDd_color: #888888;
  --mixin-sSVPigYHGZDd_padding-left: 10px;
  --mixin-sSVPigYHGZDd_white-space: pre-wrap;
  --mixin-QfQvpabY9Sko_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-QfQvpabY9Sko_border-bottom-color: #dddddd;
  --mixin-QfQvpabY9Sko_border-bottom-style: solid;
  --mixin-QfQvpabY9Sko_border-bottom-width: 1px;
  --mixin-QfQvpabY9Sko_border-left-color: #dddddd;
  --mixin-QfQvpabY9Sko_border-left-style: solid;
  --mixin-QfQvpabY9Sko_border-left-width: 1px;
  --mixin-QfQvpabY9Sko_border-right-color: #dddddd;
  --mixin-QfQvpabY9Sko_border-right-style: solid;
  --mixin-QfQvpabY9Sko_border-right-width: 1px;
  --mixin-QfQvpabY9Sko_border-top-color: #dddddd;
  --mixin-QfQvpabY9Sko_border-top-style: solid;
  --mixin-QfQvpabY9Sko_border-top-width: 1px;
  --mixin-QfQvpabY9Sko_border-bottom-left-radius: 3px;
  --mixin-QfQvpabY9Sko_border-bottom-right-radius: 3px;
  --mixin-QfQvpabY9Sko_border-top-left-radius: 3px;
  --mixin-QfQvpabY9Sko_border-top-right-radius: 3px;
  --mixin-QfQvpabY9Sko_font-family: "Inconsolata";
  --mixin-QfQvpabY9Sko_padding-bottom: 3px;
  --mixin-QfQvpabY9Sko_padding-left: 6px;
  --mixin-QfQvpabY9Sko_padding-right: 6px;
  --mixin-QfQvpabY9Sko_padding-top: 3px;
  --mixin-QfQvpabY9Sko_white-space: pre-wrap;
  --mixin-yzlfjVO-AcwjP_display: flex;
  --mixin-yzlfjVO-AcwjP_flex-direction: column;
  --mixin-yzlfjVO-AcwjP_align-items: stretch;
  --mixin-yzlfjVO-AcwjP_justify-content: flex-start;
  --mixin-yzlfjVO-AcwjP_list-style-position: outside;
  --mixin-yzlfjVO-AcwjP_padding-left: 40px;
  --mixin-yzlfjVO-AcwjP_position: relative;
  --mixin-yzlfjVO-AcwjP_list-style-type: disc;
  --mixin-yzlfjVO-AcwjP_white-space: pre-wrap;
  --mixin-Vs12CgnS8m7Dx_display: flex;
  --mixin-Vs12CgnS8m7Dx_flex-direction: column;
  --mixin-Vs12CgnS8m7Dx_align-items: stretch;
  --mixin-Vs12CgnS8m7Dx_justify-content: flex-start;
  --mixin-Vs12CgnS8m7Dx_list-style-position: outside;
  --mixin-Vs12CgnS8m7Dx_padding-left: 40px;
  --mixin-Vs12CgnS8m7Dx_position: relative;
  --mixin-Vs12CgnS8m7Dx_list-style-type: decimal;
  --mixin-Vs12CgnS8m7Dx_white-space: pre-wrap;
  --mixin-JQmL4JpfEeV5g_color: #000000;
  --mixin-JQmL4JpfEeV5g_font-size: 20px;
  --mixin-JQmL4JpfEeV5g_font-weight: 600;
  --mixin-JQmL4JpfEeV5g_letter-spacing: -0.3px;
  --mixin-JQmL4JpfEeV5g_line-height: 1.5;
  --mixin-JQmL4JpfEeV5g_white-space: pre-wrap;
  --mixin-2Hq4fKxcaBgKh_color: #000000;
  --mixin-2Hq4fKxcaBgKh_font-size: 16px;
  --mixin-2Hq4fKxcaBgKh_font-weight: 600;
  --mixin-2Hq4fKxcaBgKh_line-height: 1.5;
  --mixin-2Hq4fKxcaBgKh_white-space: pre-wrap;
  --mixin-bhvt60Ui_VSRg_color: #3291ff;
  --mixin-bhvt60Ui_VSRg_white-space: pre-wrap;
  --mixin-C-qhF0y5mb7lI_white-space: pre-wrap;
  --mixin-od8VJaGG9VJUC_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-G_WPhTBaBMfH_font-family);
  font-size: var(--mixin-G_WPhTBaBMfH_font-size);
  font-weight: var(--mixin-G_WPhTBaBMfH_font-weight);
  font-style: var(--mixin-G_WPhTBaBMfH_font-style);
  color: var(--mixin-G_WPhTBaBMfH_color);
  text-align: var(--mixin-G_WPhTBaBMfH_text-align);
  text-transform: var(--mixin-G_WPhTBaBMfH_text-transform);
  line-height: var(--mixin-G_WPhTBaBMfH_line-height);
  letter-spacing: var(--mixin-G_WPhTBaBMfH_letter-spacing);
  white-space: var(--mixin-G_WPhTBaBMfH_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-TSgzaoJ89_0B_color);
  font-weight: var(--mixin-TSgzaoJ89_0B_font-weight);
  font-size: var(--mixin-TSgzaoJ89_0B_font-size);
  line-height: var(--mixin-TSgzaoJ89_0B_line-height);
  letter-spacing: var(--mixin-TSgzaoJ89_0B_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-IBkMiSu1UHKw_color);
  font-size: var(--mixin-IBkMiSu1UHKw_font-size);
  font-weight: var(--mixin-IBkMiSu1UHKw_font-weight);
  letter-spacing: var(--mixin-IBkMiSu1UHKw_letter-spacing);
  line-height: var(--mixin-IBkMiSu1UHKw_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-xRjOzkbOUquR_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-Gw-zk78D7Vv__color);
  font-size: var(--mixin-Gw-zk78D7Vv__font-size);
  font-weight: var(--mixin-Gw-zk78D7Vv__font-weight);
  letter-spacing: var(--mixin-Gw-zk78D7Vv__letter-spacing);
  line-height: var(--mixin-Gw-zk78D7Vv__line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-iq5D-jZKC94p_color);
  font-size: var(--mixin-iq5D-jZKC94p_font-size);
  font-weight: var(--mixin-iq5D-jZKC94p_font-weight);
  letter-spacing: var(--mixin-iq5D-jZKC94p_letter-spacing);
  line-height: var(--mixin-iq5D-jZKC94p_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-rlEM13xAG9A3_font-family);
  border-radius: var(--mixin-rlEM13xAG9A3_border-top-left-radius)
    var(--mixin-rlEM13xAG9A3_border-top-right-radius)
    var(--mixin-rlEM13xAG9A3_border-bottom-right-radius)
    var(--mixin-rlEM13xAG9A3_border-bottom-left-radius);
  padding: var(--mixin-rlEM13xAG9A3_padding-top)
    var(--mixin-rlEM13xAG9A3_padding-right)
    var(--mixin-rlEM13xAG9A3_padding-bottom)
    var(--mixin-rlEM13xAG9A3_padding-left);
  border-top: var(--mixin-rlEM13xAG9A3_border-top-width)
    var(--mixin-rlEM13xAG9A3_border-top-style)
    var(--mixin-rlEM13xAG9A3_border-top-color);
  border-right: var(--mixin-rlEM13xAG9A3_border-right-width)
    var(--mixin-rlEM13xAG9A3_border-right-style)
    var(--mixin-rlEM13xAG9A3_border-right-color);
  border-bottom: var(--mixin-rlEM13xAG9A3_border-bottom-width)
    var(--mixin-rlEM13xAG9A3_border-bottom-style)
    var(--mixin-rlEM13xAG9A3_border-bottom-color);
  border-left: var(--mixin-rlEM13xAG9A3_border-left-width)
    var(--mixin-rlEM13xAG9A3_border-left-style)
    var(--mixin-rlEM13xAG9A3_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-sSVPigYHGZDd_color);
  padding-left: var(--mixin-sSVPigYHGZDd_padding-left);
  border-left: var(--mixin-sSVPigYHGZDd_border-left-width)
    var(--mixin-sSVPigYHGZDd_border-left-style)
    var(--mixin-sSVPigYHGZDd_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-QfQvpabY9Sko_font-family);
  border-radius: var(--mixin-QfQvpabY9Sko_border-top-left-radius)
    var(--mixin-QfQvpabY9Sko_border-top-right-radius)
    var(--mixin-QfQvpabY9Sko_border-bottom-right-radius)
    var(--mixin-QfQvpabY9Sko_border-bottom-left-radius);
  padding: var(--mixin-QfQvpabY9Sko_padding-top)
    var(--mixin-QfQvpabY9Sko_padding-right)
    var(--mixin-QfQvpabY9Sko_padding-bottom)
    var(--mixin-QfQvpabY9Sko_padding-left);
  border-top: var(--mixin-QfQvpabY9Sko_border-top-width)
    var(--mixin-QfQvpabY9Sko_border-top-style)
    var(--mixin-QfQvpabY9Sko_border-top-color);
  border-right: var(--mixin-QfQvpabY9Sko_border-right-width)
    var(--mixin-QfQvpabY9Sko_border-right-style)
    var(--mixin-QfQvpabY9Sko_border-right-color);
  border-bottom: var(--mixin-QfQvpabY9Sko_border-bottom-width)
    var(--mixin-QfQvpabY9Sko_border-bottom-style)
    var(--mixin-QfQvpabY9Sko_border-bottom-color);
  border-left: var(--mixin-QfQvpabY9Sko_border-left-width)
    var(--mixin-QfQvpabY9Sko_border-left-style)
    var(--mixin-QfQvpabY9Sko_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-yzlfjVO-AcwjP_display);
  flex-direction: var(--mixin-yzlfjVO-AcwjP_flex-direction);
  align-items: var(--mixin-yzlfjVO-AcwjP_align-items);
  justify-content: var(--mixin-yzlfjVO-AcwjP_justify-content);
  list-style-position: var(--mixin-yzlfjVO-AcwjP_list-style-position);
  padding-left: var(--mixin-yzlfjVO-AcwjP_padding-left);
  position: var(--mixin-yzlfjVO-AcwjP_position);
  list-style-type: var(--mixin-yzlfjVO-AcwjP_list-style-type);
  flex-column-gap: var(--mixin-yzlfjVO-AcwjP_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-Vs12CgnS8m7Dx_display);
  flex-direction: var(--mixin-Vs12CgnS8m7Dx_flex-direction);
  align-items: var(--mixin-Vs12CgnS8m7Dx_align-items);
  justify-content: var(--mixin-Vs12CgnS8m7Dx_justify-content);
  list-style-position: var(--mixin-Vs12CgnS8m7Dx_list-style-position);
  padding-left: var(--mixin-Vs12CgnS8m7Dx_padding-left);
  position: var(--mixin-Vs12CgnS8m7Dx_position);
  list-style-type: var(--mixin-Vs12CgnS8m7Dx_list-style-type);
  flex-column-gap: var(--mixin-Vs12CgnS8m7Dx_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-JQmL4JpfEeV5g_color);
  font-size: var(--mixin-JQmL4JpfEeV5g_font-size);
  font-weight: var(--mixin-JQmL4JpfEeV5g_font-weight);
  letter-spacing: var(--mixin-JQmL4JpfEeV5g_letter-spacing);
  line-height: var(--mixin-JQmL4JpfEeV5g_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-2Hq4fKxcaBgKh_color);
  font-size: var(--mixin-2Hq4fKxcaBgKh_font-size);
  font-weight: var(--mixin-2Hq4fKxcaBgKh_font-weight);
  line-height: var(--mixin-2Hq4fKxcaBgKh_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-bhvt60Ui_VSRg_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
